<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby's Grocery Cart</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
    <!-- Nav Bar -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="./images/cakelogo.png" style="width: 30px;">
                Ruby Grocery</a>
            <ul class="right">
                <li><a href="/reci"><i class="material-icons left">add_box</i>Recipies</a></li>
                <li><a href="/cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
                <li><a href="/food"><i class="material-icons left">restaurant</i>Foods</a></li>
            </ul>
        </div>
    </nav>

    <div class="center-align" style="margin-bottom: 20px; margin-top: 20px;">
        <div class="section" id="list">

            <h1>Your Orders:</h1>

            <table class="highlight">
                <thead>
                    <tr>
                        <th>Order Name</th>
                        <th>Product #</th>
                        <th>Quantity</th>
                        <th>Address</th>
                        <th>Ship by</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Red Velvet (M)</td>
                        <td>2</td>
                        <td>1</td>
                        <td>255 Hemlock Terrace S</td>
                        <td>December 12</td>
                        <td>
                            <div class="row">
                                <a href="#edit"
                                    class="modal-trigger scale-transition waves-effect waves-light cyan lighten-1 white-text btn btn-flat">
                                    <i class="material-icons left">edit</i>Edit</a>
                            </div>
                            <section id="edit" class="container grey lighten-2 modal black-text">
                                <div class="modal-content">
                                    <form class="black-text">
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="orderName">Order Name</label>
                                                <input type="text" name="orderName" placeholder="Cake">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="productNum">Product #</label>
                                                <input type="number" name="productNum" placeholder="1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="quantity">Quantity</label>
                                                <input type="number" name="quantity" placeholder="1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="address">Address</label>
                                                <input type="text" name="promotions" placeholder="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s3 offset-s2">
                                                <label for="date">Date</label>
                                                <input type="date" name="date">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </td>
                        <td>
                            <a class="btn-small waves-effect red darken-2">
                                <i class="material-icons right">delete</i>
                                Remove
                            </a>
                        </td>
                    <tr>
                        <td>Choclate Donut</td>
                        <td>4</td>
                        <td>12</td>
                        <td>255 Hemlock Terrace S</td>
                        <td>February 14</td>
                        <td>
                            <div class="row">
                                <a href="#edit"
                                    class="modal-trigger scale-transition waves-effect waves-light cyan lighten-1 white-text btn btn-flat">
                                    <i class="material-icons left">edit</i>Edit</a>
                            </div>
                            <section id="edit" class="container grey lighten-2 modal black-text">
                                <div class="modal-content">
                                    <form class="black-text">
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="orderName">Order Name</label>
                                                <input type="text" name="orderName" placeholder="Cake">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="productNum">Product #</label>
                                                <input type="number" name="productNum" placeholder="1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="quantity">Quantity</label>
                                                <input type="number" name="quantity" placeholder="1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s8 offset-s2">
                                                <label for="address">Address</label>
                                                <input type="text" name="promotions" placeholder="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s3 offset-s2">
                                                <label for="date">Date</label>
                                                <input type="date" name="date">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </td>
                        <td>
                            <a class="btn-small waves-effect red darken-2">
                                <i class="material-icons right">delete</i>
                                Remove
                            </a>
                        </td>
                </tbody>
            </table>
        </div>
    </div>





    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Ruby Grocery</h5>
                    <p class="grey-text text-lighten-4">This website aims to help you with your purchase of neccesary,
                        ingredients however shipping may not be available to all locations. Please
                        be careful of any websites that may pose to be as us, our website advocates for dolphins.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">A link that i need to update</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Syed Co.
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/scripts/materializeAutoInit.js"></script>


</html>