<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
   <!-- Nav Bar -->
   <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="./images/cakelogo.png" style="width: 30px;">
            Ruby Grocery</a>
        <ul class="right">
            <li><a href="/reci"><i class="material-icons left">add_box</i>Recipies</a></li>
            <li><a href="/cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
            <li><a href="/food"><i class="material-icons left">restaurant</i>Foods</a></li>
        </ul>
    </div>
</nav>

<h1>Coming soon</h1>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Ruby Grocery</h5>
                <p class="grey-text text-lighten-4">This website aims to help you with your purchase of neccesary,
                    ingredients however shipping may not be available to all locations. Please
                    be careful of any websites that may pose to be as us, our website advocates for dolphins.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">A link that i need to update</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2023 Syed Co.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

</body>

</html>