<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <!-- Nav Bar -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="./images/cakelogo.png" style="width: 30px;">
                Ruby Grocery</a>
            <ul class="right">
                <li><a href="/recipies"><i class="material-icons left">add_box</i>Recipies</a></li>
                <li><a href="/cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
                <li><a href="/food"><i class="material-icons left">restaurant</i>Foods</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="center-align">Recipies:</h1>

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="images/Donut.jpg">
                    <span class="card-title">Choclate Donut</span>
                </div>
                <div class="card-content">
                    <p>Does anyone want a choclate donut?
                        2 cups all-purpose flour
                        ½ cup cocoa powder
                        ¾ cups granulated sugar
                        2 teaspoons baking powder
                        1 teaspoon salt
                        2 large egg lightly beaten
                        1 cup whole milk
                        2 tablespoons butter melted
                        2 tablespoon vegetable oil
                        1½ teaspoons vanilla
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="images/eclair.jpg">
                    <span class="card-title">Eclair</span>
                </div>
                <div class="card-content">
                    <p>1 cup water
                        ½ cup butter
                        1 cup all-purpose flour
                        ¼ teaspoon salt
                        4 large eggs
                        2 ½ cups cold milk
                        1 (5 ounce) package instant vanilla pudding mix
                        1 cup heavy cream
                        ¼ cup confectioners' sugar
                        1 teaspoon vanilla extract
                        2 (1 ounce) squares semisweet chocolate
                        2 tablespoons butter
                        1 cup confectioners' sugar
                        1 teaspoon vanilla extract
                        3 tablespoons hot water
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="images/eggwhich.jpg">
                    <span class="card-title">Eclair</span>
                </div>
                <div class="card-content">
                    <p>6 large organic free range eggs
                        2 tbsp organic butter make sure its good quality butter
                        ½ small organic red onion
                        1 handful organic coriander fresh
                        t tsp organic dried thyme
                        1 tsp Organic Dijon Mustard
                        ½ tsp organic wholegrain mustard
                        ½ tsp salt
                        ½ tsp organic black pepper
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Ruby Grocery</h5>
                    <p class="grey-text text-lighten-4">This website aims to help you with your purchase of neccesary,
                        ingredients however shipping may not be available to all locations. Please
                        be careful of any websites that may pose to be as us, our website advocates for dolphins.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">A link that i need to update</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Syed Co.
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

</body>

</html>