<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>

    <link rel="stylesheet" href="stylesheets/style.css">


    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <!-- Nav Bar -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="./images/cakelogo.png" style="width: 30px;">
                Ruby Grocery</a>
            <ul class="right">
                <li><a href="/reci"><i class="material-icons left">add_box</i>Recipies</a></li>
                <li><a href="/cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
                <li><a href="/food"><i class="material-icons left">restaurant</i>Foods</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="center-align">Recipes:</h1>


    <div style="margin-left: 350px;">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <center>
                        <div class="card-image">
                            <img src="images/Donut.jpg">
                            <span class="card-title black-text">Choclate Donut</span>
                        </div>
                    </center>
                    <div class="card-content">
                        <p>Does anyone want a choclate donut?</p>
                        <p>2 cups all-purpose flour</p>
                        <p>½ cup cocoa powder</p>
                        <p>¾ cups granulated sugar</p>
                        <p>2 teaspoons baking powder</p>
                        <p>1 teaspoon salt</p>
                        <p>2 large egg lightly beaten</p>
                        <p>1 cup whole milk</p>
                        <p>2 tablespoons butter melted</p>
                        <p>2 tablespoon vegetable oil</p>
                        <p> 1½ teaspoons vanilla</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="images/eclair.jpg">
                        <span class="card-title">Eclair</span>
                    </div>
                    <div class="card-content">
                        <p>1 cup water</p>
                        <p>½ cup butter</p>
                        <p>1 cup all-purpose flour</p>
                        <p>¼ teaspoon salt</p>
                        <p>4 large eggs</p>
                        <p>2 ½ cups cold milk</p>
                        <p>1 (5 ounce) package instant vanilla pudding mix</p>
                        <p>1 cup heavy cream</p>
                        <p>¼ cup confectioners' sugar</p>
                        <p>1 teaspoon vanilla extract</p>
                        <p>2 (1 ounce) squares semisweet chocolate</p>
                        <p>2 tablespoons butter</p>
                        <p>1 cup confectioners' sugar</p>
                        <p>1 teaspoon vanilla extract</p>
                        <p>3 tablespoons hot water</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="images/eggwhich.jpg">
                        <span class="card-title">Egg Sandwich (Organic)</span>
                    </div>
                    <div class="card-content">
                        <p>6 large organic free range eggs</p>
                        <p>2 tbsp organic butter make sure its good quality butter</p>
                        <p>½ small organic red onion</p>
                        <p>1 handful organic coriander fresh</p>
                        <p>1 tsp organic dried thyme</p>
                        <p>1 tsp Organic Dijon Mustard</p>
                        <p>½ tsp organic wholegrain mustard</p>
                        <p> ½ tsp salt</p>
                        <p>½ tsp organic black pepper</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section flow-text" id="details">

            <h1>Add Your Own Recipe</h1>
            <table>

                <tr>
                    <th>Name:</th>
                    <td>---</td>
                </tr>

                <tr>
                    <th>Image URL:</th>
                    <td>---</td>
                </tr>

                <tr>
                    <th>Ingredients:</th>
                    <td>---</td>
                </tr>

                <tr>
                    <th>Description:</th>
                    <td>
                        yummy mmmmmm tasty ahhh yum yum munch
                    </td>
                </tr>

            </table>
        </div>

        <div class="section" id="controls">

            <a class="btn-large waves-effect pink accent-1 left modal-trigger" href="#edit">
                <i class="material-icons right">edit</i>
                Edit
            </a>

            <a class="btn-large waves-effect red darken-2 right">
                <i class="material-icons right">delete</i>
                Remove
            </a>

        </div>


        <div class="modal" id="edit">
            <div class="modal-content">
                <h3>Edit item:</h3>
                <form id="updateForm">
                    <div class="row">

                        <div class="input-field col s8">
                            <input type="text" id="titleInput" name="title" class="validate" data-length="45" required>
                            <label for="titleInput">Pastry name</label>
                        </div>

                        <div class="input-field col s4">
                            <input type="text" id="priorityInput" name="priority" class="validate">
                            <label for="priorityInput">Ingredients</label>
                        </div>

                        <div class="input-field col s6">
                            <select type="number" id="SizeInput" name="Size">
                                <option value="" disabled selected>Choose difficulty</option>
                                <option value=1>Easy</option>
                                <option value=2>Beginner</option>
                                <option value=3>Hard</option>
                                <option value=4>Professional</option>
                            </select>
                            <label for="SizeInput">Size:</label>
                        </div>

                        <div class="input-field col s6">
                            <input type="text" id="ingInput" name="ing">
                            <label for="ingInput">Ingredients:</label>
                        </div>

                    </div>
                    <button class="btn waves-effect" type="Confirm">
                        <i class="material-icons right">add_shopping_cart</i>
                        Confirm
                    </button>
                </form>
            </div>
        </div>
    </div>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Ruby Grocery</h5>
                    <p class="grey-text text-lighten-4">This website aims to help you with your purchase of neccesary,
                        ingredients however shipping may not be available to all locations. Please
                        be careful of any websites that may pose to be as us, our website advocates for dolphins.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">A link that i need to update</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Syed Co.
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

</body>

<script src="/scripts/materializeAutoInit.js"></script>

</html>